@media all and (max-width: 768px) {

    .hero-container {

        background: url("../images/desk.jpg") no-repeat left -130px top;
        background-size: cover;

        .title {
            width: 90%;

            h3 {
                font-size: 40px;
            }
        }

        .twitter {
            width: auto;
        }
    }

    .work-container {
        width: 100%;
    }

    #twitter {
        display: none;

        .tweets {
            display: none;
        }
    }
}
