@import "vendor/normalize";
@import "custom/custom";
@import "animations/animations";

@font-face {
  font-family: Airstream;
  src: url('../fonts/Airstream-webfont.woff');
}

body {
  padding: 0px;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Droid Sans', sans-serif;
  position: absolute;
}

.logo {
  font-family: Airstream, arial, sans-serif;
  color: #2a8099;
  font-size: 45px;
  padding: 25px;
  position: fixed;
  left: 0;
  top: 0;
  cursor: pointer;
}


.hero-container {
  position: relative;
  z-index: 5;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url('../images/desk.jpg') no-repeat center top;
  background-size: cover;

  nav {
    float: right;
    opacity: 0;
    transform: translateY(-25px);
    animation: fadeInTop .3s ease .9s forwards;

    ul {
      padding: 25px;
      margin: 0;

      li {
        display: inline;
        margin-left: 25px;
        padding-bottom: 15px;
        transition: border-color .3s ease, padding-bottom .3s ease;
        border-bottom: 1px solid transparent;

        &:hover {
          border-bottom: 1px solid #fff;
          padding-bottom: 5px;
        }

        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}

.title {color: #fff; width: 500px; margin: 0 auto; transform: translateX(-45px); z-index: 5; opacity: 0; position: relative; top: 50%; transform: translateY(-50%); height: 100px; animation: fadeInRight .6s ease-out .3s forwards;}
.title h3 {margin: 0; font-weight: 600; font-size: 65px; border-bottom: 1px solid #cecece;}
.title h4 {text-transform: uppercase; margin-top: 5px; font-weight: 300; letter-spacing: 3.1px; float: right; opacity: 0; animation: fadeIn .3s ease .9s forwards;}

.hero-container .fa-arrow-down {
  position: absolute; 
  bottom: 10px; 
  margin: 0 auto; 
  color: #fff; 
  height: 50px; 
  width: 15px;
  left: 0; 
  right: 0;
  font-size: 25px; 
  cursor: pointer;
  transition: bottom .3s ease;

  &:hover {
    bottom: 5px;
  }
}

.work-container {
  background: #fff; 
  width: 100%; 
  max-width: 1080px; 
  // height: 800px; 
  position: relative; 
  margin: 0 auto; 
  padding: 75px 0;

  h3 {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #13467b;
  }

  .work-section {
    width: 500px;
    position: relative;
    height: auto;
    float: left;

    .work {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      visibility: hidden;
      top: 20px;
      transition: all .4s ease;

      &.active {
        opacity: 1;
        visibility: visible;
        top: 0px;
      }


      .bar {
        height: 8px;
        width: 0%;
        transition: width .5s ease .4s;
      }
    }

    p {
      line-height: 150%;
    }

    #work_1.animate {
      .html {
        width: 60%;
        background: #75b9cc;
      }

      .js {
        width: 30%;
        background: #ff746c;
      }

      .backend {
        width: 10%;
        background: #ff746c;
      }
    }
  }

  .present-section {
    position: relative;
    width: 500px;
    float: right;

    .imac {
      width: 400px;
      height: 400px;
      position: absolute;
      top: 40px;
      left: 0px;
      
      .monitor {
        background: #000;
        position: absolute;
        width: 100%;
        height: 220px;
        border-radius: 10px;
        padding: 10px;
        z-index: 10;

        .monitor-content {
          background: #fff;
          width: 100%;
          height: 200px;
        }
      }
      
      .stand {
        position: absolute;
        top: 208px;
        left: 0;
        right: 0;
        margin: 0 auto;
        height: 75px;
        z-index: 5;
        width: 100px;
        transform: perspective(250px) rotateX(40deg);
        -webkit-transform: perspective(250px) rotateX(40deg);
        @include gradient-vertical(#9b9da1, #e8e9ea); //top:first;bottom:second
      }
      
      .stand1 {
        @extend .stand;
        width: 130px;
        top: 270px;
        height: 10px;
        border-radius: 15px;
        transform: perspective(10px) rotateX(40deg);
        -webkit-transform: perspective(10px) rotateX(40deg);
        @include gradient-radial(#9b9da1, #e8e9ea);
        transform-style: preserve-3d;

      }
    }

    .iphone {
      background: url('../images/iphone.png') no-repeat;
      background-size: 100%;
      width: 100px;
      height: 202px;
      border-radius: 15px;
      position: absolute;
      top: 152px;
      right: 50px;
    }
  }
}







@import "mobile";