// @import "vendor/normalize";
// @import "custom/custom";
// @import "animations/animations";

@font-face {
  font-family: Airstream;
  src: url('../fonts/Airstream-webfont.woff');
}

* {
  margin: 0;
  padding: 0;
}

body {
  padding: 0px;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Droid Sans', sans-serif;
  position: absolute;
}
